<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КМ</title>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto;">
        <h2>Смена пароля</h2>
        <p>Дорогой {{ username }},</p>
        <p>Если вы не запрашивали это - проигнорируйте. Ваш пароль останется прежним.</p>
        <p>Для смены перейдите по ссылке:</p>
        <p><a href="{{ link }}">сброс</a></p>
        <p>С Уважением, <br>Команда www.klevoemestechko.store!</p>
    </div>
</body>
</html>